{% load forms %}
{% load trendy_visuals %}

<div class="panel panel-default">
  <div class="panel-heading">
    <h3>{% icon models.Demographics.get_icon %}
    {{ models.Demographics.get_display_name }}
  </h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        {% pie_chart "subrecord_break_down" obj_list "demographics" field="sex" %}
      </div>
      <div class="col-md-6">
        {% pie_chart "subrecord_break_down" obj_list "demographics" field="ethnicity" %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        {% bar_chart "age_bar_chart" obj_list "demographics" label="Age" %}
      </div>
    </div>
  </div>
</div>
