<table class="table table-striped">
  <thead>
    <tr>
      {% for header in table_data.get_table_headers %}
        <th>
          {{ header }}
        </th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
      {% for row in table_data.rows %}
        <tr>
          {% for column in row %}
            <td>
              {% if column.1 %}
                <a href="{{ column.1 }}">{{ column.0 }}</a>
              {% else %}
                {{ column.0 }}
              {% endif %}
          </td>
          {% endfor %}
        </tr>
      {% endfor %}
  </tbody>
</table>
