{% load forms %}
{% load trendy_visuals %}
{% load trendy_utils %}

<div class="panel panel-default">
  <div class="panel-heading">
    <h3>
      {% if subrecord.get_icon %}{% icon subrecord.get_icon %}{% endif %}
      {{ subrecord.get_display_name }}
    </h3>
  </div>
  <div class="panel-body">
    {% for field in fk_ft_fields %}
      {% if forloop.first %}<div class="row">{% endif %}
        <div class="col-md-6">
          {% pie_chart "fkft_query" obj_list subrecord.get_api_name field=field %}
        </div>
        {% if not is_singleton %}
          {% if forloop.last %}
            <div class="col-md-6">
              {% pie_chart "subrecord_count" obj_list subrecord.get_api_name %}
            </div>
          {% endif %}
        {% endif %}
      {% if forloop.counter|divisibleby:2 %}
        </div><div class="row">
      {% endif %}
      {% if forloop.last %}</div>{% endif %}
    {% endfor %}
  </div>
</div>
