{% load staticfiles %}
{% load compress %}
{% load application %}
{% load plugins %}

<!doctype html>
<html>
  <head>

	<!--[if lte IE 8]>
		<script type="text/javascript" src="{% static "js/lib/utils/json3.min.js" %}"></script>
		<![endif]-->
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> <!--320-->
	<title>{{ OPAL_BRAND_NAME }}</title>

    {% core_javascripts 'opal.upstream.deps' %}
    {% plugin_javascripts 'opal.upstream.deps' %}
    <script type="text/javascript">
      angular.module('opal.config', []).value(
        'OPAL_FLOW_SERVICE',
        {% if OPAL_FLOW_SERVICE %}'{{ OPAL_FLOW_SERVICE }}'{% else %}null{% endif %}
      );
    </script>

    <script type="text/javascript">
      var initials = "{{request.user.first_name|slice:":1"}} {{request.user.last_name}}"
      var settings = {
      LOG_OUT_DURATION: {{OPAL_LOG_OUT_DURATION}}
      }
      var version = '{{VERSION_NUMBER}}';
    </script>
    <!-- google analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      {% if OPAL_ANALYTICS_NODOMAIN %}
      ga('create', '{{ OPAL_ANALYTICS_ID }}', {
      'cookieDomain': 'none'
      });
      {% else %}
      ga('create', '{{ OPAL_ANALYTICS_ID }}', 'auto');
      {% endif %}
    </script>

    <link href='//fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Merriweather:400,300,700' rel='stylesheet' type='text/css'>
    <link href="{% static "js/lib/c3-0.4.10/c3.css" %}" rel="stylesheet" media="all">
  	<link href="{% static "bootstrap-3.1.0/css/bootstrap.css" %}" rel="stylesheet" media="all">
  	<link href="{% static "css/select.css" %}" rel="stylesheet" media="all">
  	<link href="{% static "css/bootstrap-datepicker.css" %}" rel="stylesheet" media="all">
  	<link href="{% static "css/font-awesome/css/font-awesome.css" %}" rel="stylesheet" media="all">
  	<link href="{% static "css/awesome-bootstrap-checkbox.css" %}" rel="stylesheet" media="all">
    <link href="{% static "css/ngprogress-lite.css" %}" rel="stylesheet" media="screen">
  	<link href="{% static "js/lib/bower_components/angular-growl-v2/build/angular-growl.css" %}" rel="stylesheet" media="screen">


    <link href="{% static "css/print.css" %}" rel="stylesheet" media="print">
    <link href="{% static "css/screen.css" %}" rel="stylesheet" media="screen">

    {% compress css %}
      <link href="{% static "css/opal.css" %}" rel="stylesheet" media="all">
      {% plugin_stylesheets %}
      {% application_stylesheets %}
    {% endcompress %}


    <link rel="shortcut icon" href="{% static 'img/ohc-icon.png' %}">

    <script id="templates/growl/growl.html" type="text/ng-template">
      <div class="growl-container" ng-class="wrapperClasses()">
        <div class="growl-item alert" ng-repeat="message in growlMessages.directives[referenceId].messages" ng-class="alertClasses(message)" ng-click="stopTimeoutClose(message)">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="growlMessages.deleteMessage(message)" ng-show="!message.disableCloseButton">&times;</button>
          <h4 class="growl-title" ng-show="message.title" ng-bind="message.title"></h4>
          <div class="growl-message" ng-bind-html="message.text"></div>
        </div>
      </div>
    </script>
    <script src="https://unpkg.com/vue"></script>

    {% plugin_head_extra %}
  </head>
  <body>
    <div id="trendy-container">
      {% block content %}
        <div class="outer-container"></div>
      {% endblock %}
    </div>

    <script type="text/x-template" id="pie-chart-template">
      <div class="row">
        <div class="col-md-6" style="height: 300px;" v-pie="graphVals.aggregate"></div>
        <div class="col-md-6">
          <ul>
            <li v-for="row in graphVals.aggregate">
              <div>
                <a v-bind:href="appendToRequest(graphVals.subrecord, graphVals.field, row[0])">
                  <span v-if="colours">
                    <svg width="10" height="10">
                      <rect width="10" height="10" v-bind:style='{fill: colours[row[0]]}' style="pointer-events: none;"></rect>
                    </svg>
                  </span>
                  [[ row[0] ]]: [[ row[1] ]]
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </script>

    <script type="text/x-template" id="gauge-chart-template">
      <div>
        <div style="height: 100px; width: 300px" v-gauge="graphVals.aggregate"></div>
      </div>
    </script>

    <script type="text/x-template" id="bar-chart-template">
      <div>
        <div style="height: 300px;" v-bar="graphVals.aggregate"></div>
      </div>
    </script>


    <script>
      !(function(){

        Vue.config.delimiters = ['[[', ']]'];
        Vue.component('pie-chart', {
          props: ['graphVals'],
          template: "#pie-chart-template",
          delimiters: ['[[', ']]'],
          methods: {
            appendToRequest: function(apiName, field, value){
              var currentHref = window.location.href;
              if(currentHref.indexOf("?") === -1){
                return currentHref + "?" + apiName + "__" + field + "=" + value;
              }
              else{
                return currentHref + "&" + apiName + "__" + field + "=" + value;
              }
            }
          },
          data: function(){
            return {
              colours: null
            };
          }
        });

        Vue.directive('pie', {
          inserted: function (el, binding, vnode) {
            var someChart = c3.generate({
              bindto: el,
              data: {
                // iris data from R
                columns: binding.value,
                type : 'pie',
                onclick: function (d, i) { console.log("onclick", d, i); },
                onmouseover: function (d, i) { console.log("onmouseover", d, i); },
                onmouseout: function (d, i) { console.log("onmouseout", d, i); }
              },
              legend: {
                show: false
              }
            });
            var colours = {}
            _.each(binding.value, function(graphVal){
              colours[graphVal[0]] = someChart.color(graphVal[0]);
            });

            vnode.context.colours = colours;
          }
        });

        Vue.component('gauge-chart', {
          props: ['graphVals'],
          template: "#gauge-chart-template",
          delimiters: ['[[', ']]'],
        });

        Vue.directive('gauge', {
          inserted: function (el, binding, vnode) {
            var someChart = c3.generate({
              bindto: el,
              data: {
                // iris data from R
                columns: binding.value,
                type : 'gauge',
                onclick: function (d, i) { console.log("onclick", d, i); },
                onmouseover: function (d, i) { console.log("onmouseover", d, i); },
                onmouseout: function (d, i) { console.log("onmouseout", d, i); }
              },
              legend: {
                show: false
              }
            });
          }
        });

        Vue.component('bar-chart', {
          props: ['graphVals'],
          template: "#bar-chart-template",
          delimiters: ['[[', ']]'],
        });

        Vue.directive('bar', {
          inserted: function (el, binding, vnode) {
            var someChart = c3.generate({
              bindto: el,
              data: {
                // iris data from R
                x : 'x',
                columns: binding.value,
                type : 'bar',
                onclick: function (d, i) { console.log("onclick", d, i); },
                onmouseover: function (d, i) { console.log("onmouseover", d, i); },
                onmouseout: function (d, i) { console.log("onmouseout", d, i); }
              },
              legend: {
                show: false
              },
              axis: {
                  x: {
                      type: 'category'
                  }
              }
            });
          }
        });


        new Vue({
          el: '#trendy-container',
          delimiters: ['[[', ']]'],
        });
      }());
    </script>
  </body>
</html>
