{% extends 'opal.html' %}

{% load plugins %}

{% block ngapp %}opal.trendy{% endblock %}
{% block angularapp %}
  {% plugin_javascripts 'opal.trendy' %}
{% endblock %}
{% block content %}
<div class="container content-offset">
  <div style="height: 800px" class="panel panel-primary">
    <div class="panel-heading">
      <h2>Lists</h2>
    </div>
    <div class="panel-body">
      <table class="table table-hover">
        {% for i in obj_list %}
          <tr>
            <td>
              <a style="display: block" href="/trendy/?list={{ i.slug }}">
                {{ i.display_name }}({{ i.count }})
              </a>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>

{% endblock %}
