{% extends 'trendy/trend_base.html' %}

{% load trendy_utils %}
{% load forms %}

{% block content %}
<div class="container">
  <div class="panel panel-primary">
    <!-- Default panel contents -->
    <div class="panel-heading">
      <h2>
        <a href="/trendy/list">
          <i class="fa fa-cubes"></i>
          Trendy
        </a>
      </h2>
    </div>
    <div class="panel-body">
        <h2>
          <a href="{% createlink 0 %}">{{ listname }}</a>
          {% for item in path %}
             <span class="text-success">|</span> <a href="{% createlink forloop.counter %}">{{ item.subrecord }}: {{item.field_value}}</a>
          {% endfor %}
       </h2>
      <div class="panel">
      <div class="panel-header">
            {% for subrecord_table in obj.subrecords %}

          <h3>{% if subrecord_table.subrecord.get_icon %}
                {% icon subrecord_table.subrecord.get_icon %}
              {% endif %}

              {{ subrecord_table.subrecord.get_display_name }}</h3>
              <table class="table table-hover">
                <thead>
                  <tr>
                  <th style="width: 50%">Item</th><th style="width: 50%">Number</th>
                  </tr>
                </thead>
                    {% for key,value in subrecord_table.popular.items %}
                      {% if key == 'all' %}
                        <tr> <td>Total</td> <td> {{ value.total }} </tr>
                      {% else %}
                        <tr>
                          <td>
                            {% in_request subrecord_table key as selected_tag %}
                            {% if selected_tag %}
                              <div class="text-success"><strong>{{ key }}</strong></div>
                            {% else %}
                              <a href="{% append_to_request subrecord_table.subrecord.get_api_name subrecord_table.field key %}">{{ key }}</a>
                            {% endif %}
                        </td>
                        <td>{{ value.total }} ({{ value.total|as_percentage_of:subrecord_table.popular.all.total }})</td></tr>
                      {% endif %}
                    {% endfor %}
              </table>
            {% endfor %}
      </div>

      </div>



    </div>
  </div>
</div>
{% endblock content %}
