{% extends 'trendy/trend_base.html' %}
{% load trendy_utils %}

{% block content %}
<div class="container content-offset" id="app">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2>
        <a href="/trendy/list">
          <i class="fa fa-cubes"></i>
          Trendy
        </a>
      </h2>
    </div>
    <div class="panel-body">
      <h4>
        <a href="{% url 'trendy_home' %}">
          Home
        </a>
        {% for item in path %}
           <span class="text-success">|</span> <a href="{% create_link forloop.counter %}">{{ item }}</a>
        {% endfor %}
        > {{ obj_list.count }} episodes
      </h4>
      {% include "demographics"|trend_template %}
      {% include "diagnosis"|trend_template %}
    </div>
  </div>
</div>
{% endblock %}
